assets/xml/imovel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trovit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ad" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="url"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="content" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="price" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="property_type" minOccurs="0" nillable="true"/>
              <xs:element name="floor_area" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="unit" minOccurs="0" nillable="true"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="plot_area" minOccurs="0" nillable="true">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="unit"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="rooms" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="bathrooms" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="is_furnished" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="condition" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="parking" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="floor_number" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="orientation" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="is_new" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="year" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="region" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="city" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="city_area" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="address" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="postcode" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="by_owner" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="agency" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="latitude" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="longitude" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="virtual_tour" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="date" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="expiration_date" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="foreclosure" minOccurs="0" nillable="true"/>
              <xs:element type="xs:string" name="mis_database" minOccurs="0" nillable="true"/>
              <xs:element name="pictures">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="picture" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="picture_url" minOccurs="0" nillable="true"/>
                          <xs:element type="xs:string" name="picture_title" minOccurs="0" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
