assets/xml/temporada.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="motorbusca">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ad">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="content"/>
              <xs:element type="xs:string" name="property_type"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="neighborhood"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="region"/>
              <xs:element type="xs:string" name="postcode"/>
              <xs:element type="xs:float" name="latitude"/>
              <xs:element type="xs:float" name="longitude"/>
              <xs:element name="rate">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="min"/>
                    <xs:element type="xs:short" name="max"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="period"/>
                  <xs:attribute type="xs:string" name="currency"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="availability">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="month" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="value" use="optional"/>
                            <xs:attribute type="xs:short" name="year" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="check_in_week_day"/>
              <xs:element type="xs:string" name="check_in_time"/>
              <xs:element type="xs:string" name="check_out_time"/>
              <xs:element type="xs:byte" name="minimum_stay"/>
              <xs:element type="xs:byte" name="max_people"/>
              <xs:element type="xs:byte" name="complete_rental"/>
              <xs:element type="xs:byte" name="online_reservation"/>
              <xs:element type="xs:byte" name="reservation_guarantee"/>
              <xs:element type="xs:byte" name="rooms"/>
              <xs:element type="xs:byte" name="bedrooms"/>
              <xs:element type="xs:byte" name="bathrooms"/>
              <xs:element type="xs:byte" name="parking"/>
              <xs:element type="xs:byte" name="cleaning_service"/>
              <xs:element type="xs:byte" name="gay_friendly"/>
              <xs:element type="xs:byte" name="pets"/>
              <xs:element type="xs:byte" name="smoking"/>
              <xs:element type="xs:byte" name="air_conditioning"/>
              <xs:element type="xs:byte" name="barbecue"/>
              <xs:element type="xs:byte" name="bed_linen"/>
              <xs:element type="xs:byte" name="central_heating"/>
              <xs:element type="xs:byte" name="children_play_area"/>
              <xs:element type="xs:byte" name="coffee_maker"/>
              <xs:element type="xs:byte" name="cooking_utensils"/>
              <xs:element type="xs:byte" name="cot"/>
              <xs:element type="xs:byte" name="dishwasher"/>
              <xs:element type="xs:byte" name="dryer"/>
              <xs:element type="xs:byte" name="dvd"/>
              <xs:element type="xs:byte" name="fan"/>
              <xs:element type="xs:byte" name="fireplace"/>
              <xs:element type="xs:byte" name="garden"/>
              <xs:element type="xs:byte" name="gym"/>
              <xs:element type="xs:byte" name="hairdryer"/>
              <xs:element type="xs:byte" name="hi-fi"/>
              <xs:element type="xs:byte" name="internet"/>
              <xs:element type="xs:byte" name="iron"/>
              <xs:element type="xs:byte" name="ironing_board"/>
              <xs:element type="xs:byte" name="kitchen"/>
              <xs:element type="xs:byte" name="lift"/>
              <xs:element type="xs:byte" name="microwave"/>
              <xs:element type="xs:byte" name="oven"/>
              <xs:element type="xs:byte" name="pool"/>
              <xs:element type="xs:byte" name="refrigerator"/>
              <xs:element type="xs:byte" name="satellite_tv"/>
              <xs:element type="xs:byte" name="sauna"/>
              <xs:element type="xs:byte" name="telephone"/>
              <xs:element type="xs:byte" name="tennis_court"/>
              <xs:element type="xs:byte" name="terrace"/>
              <xs:element type="xs:byte" name="toaster"/>
              <xs:element type="xs:byte" name="towels"/>
              <xs:element type="xs:byte" name="tv"/>
              <xs:element type="xs:byte" name="washing_machine"/>
              <xs:element type="xs:byte" name="wheelchair_access"/>
              <xs:element type="xs:string" name="date"/>
              <xs:element type="xs:string" name="expiration_date"/>
              <xs:element name="comments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="comment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="comment_title"/>
                          <xs:element type="xs:string" name="comment_description"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="code"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="score"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="distance_to">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="beach">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:short">
                            <xs:attribute type="xs:string" name="unit"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="center">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="unit"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="pictures">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="picture">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:anyURI" name="picture_url"/>
                          <xs:element type="xs:string" name="picture_title"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>